<html>
<head>
    <title>{{ env('APP_NAME') }}</title>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js" async></script>
</head>
<body>
<div id="app">

</div>
</body>
</html>